fastapi==0.116.0
numpy==2.3.1
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
pydantic==2.11.7
pydantic_settings==2.10.1
pymongo==4.13.2
scipy==1.16.0
torch==2.6.0+cu126
ultralytics==8.3.54
uvicorn==0.35.0
